GEMINI_API_KEY=""
APP_URL="http://localhost:3000"
JWT_SECRET="secure-random-jwt-secret-key-replace-in-production"
TELEGRAM_BOT_TOKEN="8752648466:AAFogclgu8wDWRmJEPhPgbQx_6nhqBzHjBc"
TELEGRAM_CHAT_ID="1681481351"
DATABASE_URL="postgresql://neondb_owner:npg_rDG2CyOvXu0Q@ep-solitary-waterfall-b25urrf1-pooler.c-6.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
ADMIN_EMAIL="eyobjegreta@gmail.com"
ADMIN_PASSWORD="Admin@123456"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="Dire Dawa Public Survey <no-reply@dgc.gov.et>"

